.container-home{
    width: 100%;
    // height: 15rem;
    padding-left: 4rem;
    padding: 6rem 0rem 2rem 0rem;

}
.home-img{
    // width: 15rem;
    height: 9rem;
    opacity: 0.3;
padding-left: 6rem;

}
.home-img:hover{
opacity: 1;
}