.nav2{
    display: flex;
}
.container-navbar2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 0rem 0rem 30rem;
    gap: 1.5rem;
    position: fixed;
    z-index: 2;
}